<div class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false" id="appointmentInput">
    <div class="modal-dialog">
        <div class="modal-content">
            Hello !
        </div>
    </div>
</div>