<div class="row">
    <div class="container">
        @if (User.IsInRole(Scheduling.Utility.Helper.Admin))
        {
            <div class="form-group row col-2" id="divDoctorList">
                <label> Select Doctor </label>
                @Html.DropDownList("doctorId", new SelectList(ViewBag.DoctorList, "ID", "Name"), new { @class = "form-group select2" })
            </div>
        }
        <div id="calendar"></div>
    </div>
</div>

<partial name="_AddEditAppointment" />